settings.log.file.path := "/tmp/liquidsoap.log"
settings.log.stdout := true

settings.server.socket := true
settings.server.socket.path := "/tmp/liquidsoap.sock"

settings.scheduler.fast_queues := 1
settings.scheduler.generic_queues := 6

script_path = "/opt/johnny-six"
base_path = "/opt/wuvt/automation"
trackman_url = "http://localhost:9090/trackman/api/automation/log"
trackman_password = "hackme"
playlist_api_url = ""
