# The url to translate playlists onto
import re

TRANSLATE_URL = "http://192.168.0.55/automation/"
BASENAME_PATTERN = re.compile(r'.*automation/(.+)$')
PERIOD_SCHED = {
        "early": "0000",
        "morning": "0600",
        "noon": "0900",
        "afternoon": "1400",
        "jazz": "1700",
        "night": "1900",
        }

STAGING = "./playlist-loader/test"
DEST = "./playlist-loader/dest"
ARCHIVE = "./playlist-loader/archive"
